@custom-selector :--headings h1, h2, h3, h4, h5, h6;

body {
  line-height: 1.75;

  font-family: "system-ui", sans-serif;

  background-color: var(--clr-primary-surface);
  color: var(--clr-primary-text);
}

* {
  letter-spacing: 0.05em;
}

h1,
.fs-900 {
  font-size: var(--fs-900);
}

h2,
.fs-800 {
  font-size: var(--fs-800);
}

h3,
.fs-700 {
  font-size: var(--fs-700);
}

h4,
.fs-600 {
  font-size: var(--fs-600);
}

h5,
.fs-500 {
  font-size: var(--fs-500);
}

h6,
.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

small {
  font-size: 0.75em;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

:--headings,
button {
  line-height: 1.5;
}

:--headings,
li,
dd,
dt,
button,
fieldset,
summary,
figcaption,
address {
  max-inline-size: 45rem;
}

p {
  max-inline-size: 60rem;
}

:focus-visible {
  outline: 1px solid var(--clr-primary-link);
  outline-offset: 0.5ch;
}

::marker,
a {
  color: var(--clr-primary-link);
}

ul,
ol,
menu {
  list-style-position: inside;
}

li + li,
dd + dd {
  margin-block-start: 2ch;
}

dd {
  margin-inline-start: 4ch;
}

dt {
  font-weight: bold;

  &:not(:first-of-type) {
    margin-block-start: 2ch;
  }
}

button,
summary {
  cursor: pointer;
}

button {
  display: inline-block;

  background-color: var(--clr-primary);
  color: var(--clr-primary-text);

  border: none;
  border-radius: 1ex;
  padding-block: calc(var(--spacing) / 2);
  padding-inline: var(--spacing);

  font-family: inherit;
  font-size: var(--fs-300);
  text-transform: uppercase;
  letter-spacing: 0.16em;
}

img {
  block-size: auto;
  max-inline-size: 100%;
}

fieldset {
  padding: calc(var(--spacing) / 2);
}

input,
textarea {
  padding: 0.5em;
  border-radius: 0.5ex;
  border: 1px solid;

  background-color: var(--clr-primary-surface2);
  color: var(--clr-primary-text);
}
