@use "sass:math";
@use "/sass/abstracts" as abstracts;
@use "./strip-unit" as *;

@function midpoint($min, $max) {
  $min: strip-unit($min);
  $max: strip-unit($max);

  $min-width: strip-unit(map-get(abstracts.$breakpoints, small));
  $max-width: strip-unit(map-get(abstracts.$breakpoints, large));

  // Calculate mid point
  // https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
  $slope: math.div($max - $min, $max-width - $min-width);
  $intersection: -$min-width * $slope + $min;
  $mid: calc(#{$intersection}rem + #{$slope * 100}vw);
  @return $mid;
}
